@import url('agogo.css');

table.longtable.docutils {
	border:  none;
	border-collapse: collapse;
}

table.longtable.docutils td {
	border:  none;
	padding: 0px 3px;
}

table.longtable.docutils tr {
	border-bottom: 1px solid gray;
}

div.toctree-wrapper.compound ul {
	margin: 0.2em 1.5em;
}

div.toctree-wrapper.compound li.toctree-l1 {
	margin: 0px;
}

/* Styles for note boxes */
.admonition.warning {
	background-color:  #fcf8e3;
	border-left-color: #faebcc;
}

.admonition.note {
	background-color:  #d9edf7;
	border-left-color: #bce8f1;
}

.admonition.admonition-todo {
	background-color:  #f2dede;
	border-left-color: #ebccd1;
}
